.title {
  color: #ffffff;
  text-align: center;
  margin: 20px 0 20px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputTodo {
  width: 500px;
}

.inputDate {
  width: 350px;
}

.inputTime {
  width: 350px;
}
