.card {
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  color: black;
  padding: 10px 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 0.05);
}

.todoDone {
  /* text-decoration: line-through; */
  background-color: rgba(255, 255, 255, 0.01);
  color: rgb(0 0 0 / 0.3);
}

.left {
  display: flex;
  gap: 20px;
}

.right {
  display: flex;
  gap: 10px;
  box-shadow: none;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dateAndTimeContainer {
  display: flex;
  gap: 20px;

  font-size: 12px;
  color: #757575;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.inputTodo {
  width: 400px;
}

.dateAndTime {
  display: flex;
  gap: 10px;
}

.inputDate {
  width: 195px;
}

.inputTime {
  width: 195px;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 85vw;
  }

  .inputTodo {
    width: 85vw;
  }

  .dateAndTime {
    gap: 1vw;
  }

  .inputDate {
    width: 42vw;
  }

  .inputTime {
    width: 42vw;
  }
}
